/* font-family: 'Poppins', sans-serif; */

:root {
    --color-title: #363F5F;
    --color-text: #969CB2;
    --color-red: #E92929;
    --color-green-dark: #2D4A22;
    --color-green-light: #49AA26;
    --color-green-Slight: #3dd705;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #E5E5E5;
}

html {
    font-size: 93.75%;
    color: #363F5F;
}

/* Buttons and Links -------------------------*/

a {
    color: var(--color-green-light);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

a:hover {
    color: var(--color-green-Slight);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: var(--color-green-light);
    font-family: 'Poppins', sans-serif;
    border-radius: .2rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-green-Slight);
}

.button.cancel {
    color: var(--color-red);
    border: 2px var(--color-red) solid;
    border-radius: .25rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
}

.button.cancel:hover {
    opacity: 1;
}

/* Header -------------------------*/

.header {
    padding: 1rem 2rem 8rem 2rem;
    background-color: var(--color-green-dark);
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Main -------------------------*/

.container {
    margin: auto;
    width: min(90vw, 1000px);
}

#section_squares {
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
    gap: 1rem;
}

#section_squares h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 0;
    font-size: 0.8rem;
}

#section_squares p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: calc(1rem + 0.8vw);
    margin: 0.3rem 1rem;
}

.card {
    background-color: white;
    width: 100%;
    border-radius: 0.35rem;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.card:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.card.total {
    background-color: var(--color-green-light);
    width: 100%;
    border-radius: 0.35rem;
}


.total_display {
    color: white;
}

.total_title{
    color: white;
}

.card_icons {
    height: 1.2rem;
}

.title_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.title_card_total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

/* Table -------------------------*/

#section_table {
    margin-top: 3rem;
    display: block;
    overflow-x: auto;
}

.main_table {
    width: 100%;
    border-spacing: 0 0.5rem;
}

.main_table thead {
    color: var(--color-text);
    font-size: 0.7rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.main_table td {
    background: white;
    font-family: 'Poppins', sans-serif;
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 300;
}

.main_table td {
    padding: 1rem;
}

.main_table tbody tr {
    opacity: 0.7;
}

.main_table tbody tr:hover {
    opacity: 1;
}

.main_table tbody tr td:first-child {
    border-radius: 0.35rem 0 0 0.35rem;
}

.main_table tbody tr td:last-child {
    border-radius: 0 0.35rem 0.35rem 0;
}


.expense {
    color: var(--color-red);
}

.income {
    color: var(--color-green-light);
}

.main_table tbody tr td:nth-child(3) {
    color: var(--color-text);
}

.img {
    cursor: pointer;
}

/* Modal -------------------------*/

.modal_overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal_overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: #E5E5E5;
    padding: 2.4rem;
}

/* Form -------------------------*/

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

input {
    border: none;
    border-radius: 0.2rem;
    padding: .8rem;
    width: 100%;
}

.input_group {
    margin-top: .8rem;
}

.input_group small {
    opacity: .4;
    font-family: 'Poppins', sans-serif;
}

.input_group.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input_group.actions .button, .input_group.actions button {
    width: 48%;
}

/* Footer -------------------------*/

.footer {
    display: inline;
    position: absolute;
    top: 94%;
    left: calc(50% - 115px);
}

.text_footer {
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
}

/* Responsive -------------------------*/
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #section_squares {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}